
div.navbar.navbar-inverse
  div.navbar-inner
    div.container

      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.brand(href="/")
        img(src="mini.png")

      div.nav-collapse
        ul.nav
          li
            a(href="/about")
              | About

      h1.pull-right
        small
          | coffee
        ="boulder-trophy"

div.page-header
  h1= "About"
p
    | Bla.
