!!! 5

html(lang='en')
    head
        title= 'Ranking'
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')

        script(src='/javascript/jquery.js')
        script(src='/javascript/underscore.js')

        script(src='/javascript/bootstrap.js')

        script(src="http://use.typekit.com/rtu3vxv.js")
        script(src='/javascript/font.js')

    body
        .container!=body
